:root {
    --background: #f6f6f6;
    --border: black;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --btn-red: #faa;
    --btn-red-hover: #e99;
    --btn-red-active: #d88;
    --btn-blue: #aaf;
    --btn-blue-hover: #99e;
    --btn-blue-active: #88d;
}

.calculator {
    display: flex;
    width: 400px;
    background-color: beige;
    border: 5px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    flex-direction: column;
}

.calculator-screen {
    display: flex;
    background-color: white;
    border: 3px solid var(--border);
    border-radius: 5px;
    flex-direction: column;
    text-align: right;
    margin-bottom: 20px;
}

.calculator-history {
    padding: 10px 10px 0px 10px;
    min-height: 32px;
    font-size: 18px;
    word-wrap: break-word;
}

.calculator-input {
    padding: 10px 10px 0px 10px;
    min-height: 64px;
    font-size: 36px;
    word-wrap: break-word;
}

.button-panel {
    flex: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-active);
}

.btn-red {
    background-color: var(--btn-red);
  }
  
.btn-red:hover {
    background-color: var(--btn-red-hover);
}

.btn-red:active {
    background-color: var(--btn-red-active);
}

.btn-blue {
    background-color: var(--btn-blue);
}

.btn-blue:hover {
    background-color: var(--btn-blue-hover);
}

.btn-blue:active {
    background-color: var(--btn-blue-active);
}

.clear {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.delete {
    grid-column: 3 / span 2;
    grid-row: 1;
}